h2(class='heading-medium') Multiple form fields with instructions
  
  
p Using aria-describedby to associate instructions with the first form field in the group.


div(class='example')

  form(class='form')
      
    fieldset
    
      legend
        span(class='form-label-bold') What is your date of birth?
        span(class='form-hint' id='dob-hint') For example, 31 3 1980
      
      div(class='form-date')
      
        div(class='form-group form-group-day')
          label(class='form-label' for='dob-day') Day
          input(
            class='form-control'
            type='number'
            id='dob-day'
            name='dob-day'
            aria-describedby='dob-hint'
          )
          
        div(class='form-group form-group-month')
          label(class='form-label' for='dob-month') Month
          input(
            class='form-control'
            type='number'
            id='dob-month'
            name='dob-month'
          )
          
        div(class='form-group form-group-year')
          label(class='form-label' for='dob-year') Year
          input(
            class='form-control'
            type='number'
            id='dob-year'
            name='dob-year'
          )
    

pre(aria-hidden='true' role='presentation')
  code(class='language-markup')
    :escape
      <fieldset>
      
        <legend>
          <span class="form-label-bold">What is your date of birth?</span>
          <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
        </legend>
        
        <div class="form-date">
          
          <!-- day -->
          <div class="form-group form-group-day">
            <label class="form-label" for="dob-day">Day</label>
            <input class="form-control" type="number" id="dob-day" name="dob-day" aria-describedby="dob-hint">
          </div>
          
          <!-- month -->
          <div class="form-group form-group-month">
            <label class="form-label" for="dob-month">Month</label>
            <input class="form-control" type="number" id="dob-month" name="dob-month">
          </div>
          
          <!-- year -->
          <div class="form-group form-group-year">
            <label class="form-label" for="dob-year">Year</label>
            <input class="form-control" type="number" id="dob-year" name="dob-year">
          </div>
          
        </div>